.Header {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .Header--dark {
    background-color: #333;
    color: white;
  }
  
  .Header--light {
    background-color: white;
    color: black;
  }

