.FavoritesPage{
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.favorites-cards{
    width: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.favoriteCard{
    cursor: pointer;
}

.container{
    max-width:90vw;
    text-align: center;
    margin: 1rem;
    border-radius: 0.5rem;
}