body{
  min-height: 100vh;
  background: url("../public/noaa-99F4mC79j1I-unsplash.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}