
.topContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:20vh;
    margin-bottom: 10vh;
}
.DaysWeather{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:20vh;
    flex-wrap: wrap;
}

.search{
    height:10vh;
    margin-top: 5vh;
}

.search input{
    width:40vw;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border:none;
}

input:focus{
    outline: none;
  }
